body {
  margin: 0;
  height: 100vh;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1a1a1a;
  animation: fadeToWhite 3s ease forwards;

  font-family: 'Cormorant', serif;

  cursor: pointer; 
}


@keyframes fadeToWhite {
  from {
    background-color: #1a1a1a;
  }
  to {
    background-color: #ffffff;
  }
}

.fade-text {
  opacity: 0;
  font-size: 1rem;   
  text-align: center;  
  color: black;

  animation: textFadeIn 2s ease forwards;
  animation-delay: 1.5s;  
}

@keyframes textFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.right-link {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  z-index: 10;
}

.top-link {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  z-index: 10;
}

.top-link:hover {
  text-decoration: underline;
}

.right-link:hover {
  text-decoration: underline;
}